<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HiveConnectByJDBC"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.accumulo.core.util.shell.commands.MergeCommand$1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HiveConnectByJDBC"/>
</launchConfiguration>
